#end-form-container {
  background: #505050;
  padding: 25px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 5px 2px black;
  width: 80%;
  max-width: 80%;
  height: 80%;
  max-height: 80%;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 0;
    text-align: center;
  }

  h4 {
    font-weight: normal;
  }
}

#end-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  .end-form-label {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  mat-radio-button {
    display: inline-block;
    margin: 0 0 5px 20px;
  }

  #end-form-submit {
    margin-top: 20px;
  }
}

#end-form-results {
  width: 100%;
  font-size: 13px;

  .question-result {

    margin-bottom: 35px;

    h4.question-result-question {
      margin: 5px 0 5px 0;
      //color: #ffeb3b;
      font-weight: 600;
    }

    p {
      margin: 5px 0 5px 0;
    }

  }
}

.question-result-actual.warn {
  color: #f44336;
}

.question-result-actual.good {
  color: #4caf50;
}

.question-result {
  padding-left: 10px;
  margin-left: 20px;
}

.question-result.warn {
  border-left: 2px solid #f44336;
}

.question-result.good {
  border-left: 2px solid #4caf50;
}


#end-form-chart {
  width: 40%;
  height: auto;
  max-height: 800px;
  max-width: 700px;
}

#end-form-chart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
