<div id="end-form-container">
    <!--  <h1>Before you go, we have some questions for you that might interest you :)</h1>-->

    <div *ngIf="display" id="end-form-wrapper">
        <h2>{{ currentQuestion.question }} ({{user.currentQuestionIndex + 1}}/{{user.questions.length}})</h2>

        <form ngForm #form="ngForm" (ngSubmit)="onSubmit(form)">
            <mat-form-field *ngIf="currentQuestion.inputType === 'time' || currentQuestion.inputType === 'number'">
                <mat-label>{{ currentQuestion.inputLabel }}</mat-label>
                <input matInput name="value" placeholder="3.8"
                       [(ngModel)]="currentQuestion.inputResponse" autofocus>
            </mat-form-field>

            <div style="display: inline-block" *ngIf="currentQuestion.inputType === 'yes_no'">
                <mat-radio-group name="value"
                                 [selected]="yes"
                                 [(ngModel)]="currentQuestion.inputResponse">
                    <mat-radio-button [value]="true" #yes [checked]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                <i class="mdi mdi-send"></i>
            </button>
        </form>
    </div>

    <div *ngIf="!display" id="end-form-results">

        <h2>Thank you for your responses! Here is some information about your usage! ;)</h2>

        <h3>Your answers to the form</h3>
        <div class="question-result" *ngFor="let question of user.questions" [ngClass]="question.correctAnswer ? 'good' : 'warn'">
            <h4 class="question-result-question">{{ question.question }}</h4>
            <p class="question-result-answer">You answered: {{ question.inputResponse }}</p>
            <p class="question-result-actual" [innerHTML]="question.resultSentence"
               [ngClass]="question.correctAnswer ? 'good' : 'warn'"></p>
        </div>

        <h3>Your usage graph</h3>
        <div id="end-form-chart-container">
            <canvas baseChart
                    id="end-form-chart"
                    [datasets]="user.chart.datasets"
                    [labels]="user.chart.labels"
                    [options]="user.chart.options"
                    chartType="radar">
            </canvas>
        </div>

        <h3>What we think you should know</h3>
        <p>
            As you can see, we were able to gather lots of data about you: the time time you spent, which categories you seem to like more etc. We could do this without you even noticing.<br>
            This is actually very common among the apps we use everyday. Facebook, Google, Twitter... they all measure the time you spend on their content, every move you do, every scroll, every like, and so on. This data is precious to them, and they can use to make you addict to their app, or even sell it in some cases!
        </p>

        <p>
            Many applications such as Facebook or instagram implement specific designs in order to hook the users and induce addiction.<br>
            One of these designs is infinite scrolling, which consists in loading content on a single page instead of spreading it across a series of pages.<br>
            Because there is virtually no end to the materials the users can consume via infinite scrolling, they are vulnerable to consuming much more than they would normally without realizing it.<br>
            Moreover, partially randomizing the generated information get the users even more likely to consume. The uncertainty of the reward schedule makes it more attractive and is one of the base of addiction.<br>
            Like a slot machine, the infinite scroll gives users fast access to variable rewards, thus reinforcing its desire to use the application.
        </p>

        <button mat-raised-button color="warn" (click)="user.leaveGame()" style="margin-bottom: 15px">Leave</button>

    </div>
</div>

