<app-core (spinResult)="onSpinResult($event)" *ngIf="!user.endForm && user.submitted"></app-core>
<app-user-form *ngIf="!user.endForm && !user.submitted"></app-user-form>
<app-end-form *ngIf="user.endForm"></app-end-form>
<app-content-popup [spinResult]="currentResult" #contentPopup></app-content-popup>
