<section>
  <div class="circle-multiple">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div id="bg-glow"></div>
<!--  <span class="fa fa-star" style="position: absolute; top: 0px; margin-left: -300px; color: red;"></span>-->

  <app-bar [barEntries]="sourceEntries" #sourceBar></app-bar>
  <app-bar [barEntries]="categoryEntries" #categoryBar></app-bar>
  <app-bar [barEntries]="filterSubCategoryEntries" #objectBar></app-bar>
</section>
<div id="spinner"><span (click)="spinAll()" #spinButton>Spin</span></div>
