@import "./src/styles";

@keyframes border-anim {
  0% {
    background-position: 0% 0%
  }
  20% {
    background-position: 0% -50%
  }
  40% {
    background-position: 0% -100%
  }
  60% {
    background-position: 0% 0%
  }
  80% {
    background-position: 0% 50%
  }
  100% {
    background-position: 0% 100%
  }
}

@keyframes border-anim {
  0% {
    background-position: 0% 0%
  }
  50% {
    background-position: 0% 100%
  }
  100% {
    background-position: 0% 0%
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

// region Circles

@mixin position($p, $top, $right, $left, $bottom) {
  position: $p;
  top: $top;
  right: $right;
  left: $left;
  bottom: $bottom;
}

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);

  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
  0 -1px 0 $weight rgba($mix-sub-from, .25),
  1px 0 0 $weight rgba($mix-sub-to, .25),
  -1px 0 0 $weight rgba($mix-sub-from, .25),
  1px -1px 0 $weight rgba($mix-main, .5),
  -1px 1px 0 $weight rgba($mix-main, .5),
  1px 1px 0 $weight rgba($to, .75),
  -1px -1px 0 $weight rgba($from, .75);
}

@keyframes psycho {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
  }

  33% {
    transform: rotate(360deg) scale(1) translate(40px, 40px);
  }

  66% {
    transform: rotate(720deg) scale(1) translate(-40px, -40px);
  }

  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}

.circle {
  @include size(400px, 400px);
  @include border-gradient(red, yellow);
  border-radius: 100%;

}

.circle {
  &:nth-of-type(2) {
    @include border-gradient(skyblue, hotpink);
    animation: rotateThis 1s linear infinite;
  }

  &:nth-of-type(3) {
    @include border-gradient(#E14847, #B53BB4);
  }

  &-multiple & {
    @include position(absolute, 0, 0, 0, 0);
    margin: auto;

    &:nth-of-type(1) {
      animation: psycho 1.5s linear infinite;
    }

    &:nth-of-type(2) {
      animation: psycho 1.5s linear .1s infinite;
    }

    &:nth-of-type(3) {
      animation: psycho 1.5s linear .25s infinite;
    }
  }

}

// endregion

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  div#bg-glow {
    content: "";
    align-self: center;
    border: 1px solid white;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 500;
    box-shadow: //0 0 50px 20px #e81d1d,
      //0 0 50px 50px #e8b71d,
      //0 0 50px 70px #e3e81d,
      //0 0 50px 90px #1de840,
      //0 0 50px 110px #1ddde8,
      //0 0 50px 130px #2b1de8,
      0 0 100px 50px #ffffff;

    span.fa.fa-star {
      color: white;
      font-size: 50px;
      animation: rotate linear 2.5s infinite;

    }
  }

  app-bar {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }
}

#spinner {
  position: relative;
  //width: 100%;
  //height: 50px;
  margin-top: 65px;
  z-index: 1000;
  //background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);

  //animation: border-anim 1s linear infinite;
  //background-size: 100% 600%;
  //box-shadow: 0 0 5px 5px #ffffff55;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    text-align: center;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid #ffffff33;

    color: #000;

    background: linear-gradient(to right, #e81d1d 14%, #e8b71d 28%, #e3e81d 42%, #1de840 56%, #1ddde8 70%, #2b1de8 84%, #dd00f3 90%) center;
    background-size: 200% 200%;

    //background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 50px;

    text-transform: uppercase;

    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
    @keyframes sizea {
      //0% { transform: scale(2); }
      25% {
        transform: scale(1.1);
      }
      50% {
        transform: scale(0.9);
      }
      75% {
        transform: scale(1.1);
      }
      //100% { transform: scale(1); }
    }
    animation: shine 1s linear infinite, sizea 2s ease-in-out infinite;
    animation-play-state: running;

    cursor: pointer;
  }
}

.pause {
  -webkit-animation-play-state: paused !important;
  //-moz-animation-play-state: paused !important;
  //-o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

