div#wrapper {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;

  transition: 0.5s;
}

article {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  //flex-basis: 100%;
  background: #505050;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  margin: 50px;
  box-shadow: 0 0 10px 2px #0c0c0c;
  z-index: 2000;
  color: white;

  display: flex;
  flex-direction: column;

  transition: 1s;

  overflow: hidden;

  div#content-popup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid white;

    span#content-popup-title {
      flex-grow: 1;

      font-size: 22px;
    }

    span#content-popup-close {
      width: auto;
      cursor: pointer;

      &::before {
        font-size: 32px;
      }
    }
  }

  div#content-popup-content {
    flex-direction: column;
    flex-grow: 1;
    margin-top: 20px;
    overflow: hidden;

    div, app-news, app-youtube, app-twitter, app-image {
      max-height: 100%;
      display: flex;
      display: flex;
      flex-direction: row;
      overflow: auto;
      align-items: stretch;
      justify-content: center;
      height: 100%;
    }
  }

}

div#buttons {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 2100;
}

#content-popup-stay {
  margin-left: 20px;
  background-color: #41c76b;
  color: white;
}
