<div id="wrapper" #wrapper>
  <article #article>
    <div id="content-popup-header">
      <span id="content-popup-title" *ngIf="spinResult.source">
        {{ spinResult.source.name }} ({{ spinResult.source.id }}) - {{ spinResult.category.name }} ({{ spinResult.category.id }}) - {{ spinResult.subCategory.name }} ({{ spinResult.subCategory.id }})
      </span>
      <span id="content-popup-title" *ngIf="!spinResult.source">
        No content available
      </span>
      <div>
        <button mat-raised-button color="warn" id="content-popup-leave" (click)="leave()">Leave</button>
        <button mat-raised-button id="content-popup-stay" (click)="out()">Keep playing</button>
<!--        <span class="mdi mdi-close" id="content-popup-close" (click)="out()"></span>-->
<!--        <span class="mdi mdi-close" id="content-popup-close" (click)="out()"></span>-->
      </div>
    </div>
    <div id="content-popup-content" *ngIf="this.news" [ngSwitch]="spinResult?.source?.id">
      <app-news *ngSwitchCase="1" [news]="this.news" #content></app-news>
      <app-youtube *ngSwitchCase="2" [url]="this.news.url" #content></app-youtube>
      <app-twitter *ngSwitchCase="3" [url]="this.news.url" #content></app-twitter>
      <app-image *ngSwitchCase="4" [url]="this.news.url" #content></app-image>
      <div *ngSwitchDefault>Content is not supported :(</div>
    </div>
    <div id="content-popup-content" *ngIf="!this.news">
      <div>No content :(</div>
    </div>
  </article>
</div>
<!--<div id="buttons">-->
<!--  <button (click)="out()">Out</button>-->
<!--  <button (click)="pop()">Pop</button>-->
<!--</div>-->
