#user-form-container {
  background: #505050;
  padding: 25px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 5px 2px black;
}

form {
  .user-form-label {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  mat-radio-button {
    display: flex;
    margin: 0 0 5px 20px;
  }

  #user-form-submit {
    margin-top: 20px;
  }
}
