<div id="user-form-container">
  <h1>Welcome! Please enter some details</h1>
  <form ngForm #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label id="sex" class="user-form-label">Your sex:</label>
    <mat-radio-group aria-label="Your sex" aria-labelledby="sex" required [(ngModel)]="model.sexe" name="sexe">
      <mat-radio-button value="F">Female</mat-radio-button>
      <mat-radio-button value="M">Male</mat-radio-button>
      <mat-radio-button value="O">Other</mat-radio-button>
    </mat-radio-group>

    <label id="age" class="user-form-label">Your approximate age:</label>
    <mat-radio-group aria-label="Your approximate age" aria-labelledby="age" required [(ngModel)]="model.age" name="age">
      <mat-radio-button [value]="18">18-24</mat-radio-button>
      <mat-radio-button [value]="25">25-34</mat-radio-button>
      <mat-radio-button [value]="35">35-44</mat-radio-button>
      <mat-radio-button [value]="45">45-54</mat-radio-button>
      <mat-radio-button [value]="55">55-64</mat-radio-button>
      <mat-radio-button [value]="65">65+</mat-radio-button>
    </mat-radio-group>

    <button mat-raised-button color="accent" id="user-form-submit" type="submit" [disabled]="!user.hasUser">Start playing</button>
  </form>
</div>

