<div class="bar-wrapper">
  <div class="bar-container" #barContainer>
    <div class="bar-vertical-element"></div>
    <div class="bar-vertical-element"><span [ngClass]="['mdi', barEntries[currentEntryIndex]?.icon_id || 'null']"></span></div>
    <div class="bar-vertical-element"></div>
  </div>
</div>
