@import "./src/styles";

div.bar-wrapper {
  display: flex;
  $border: 6px;

  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  margin: 0 30px 0 30px;
  border-radius: 10px;

  padding: $border;

  //animation: border-anim 1s linear infinite;
  background: linear-gradient(180deg, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3);

  background-size: 100% 100%;
  //background-size: 200% 200%;

  z-index: 600;

  div.bar-container {
    width: 100%;
    height: 100%;

    background: white;

    box-shadow: inset 0 0 30px black, inset 0 0 45px black, inset 0 0 60px black;
    border-radius: $border - $border / 10;
    z-index: 700;

    overflow: hidden;

    //transition-duration: 300ms;

    div.bar-vertical-element {
      @include size(100%, 100%);

      display: flex;

      align-items: center;

      justify-content: center;

      span.mdi {

        display: block;
        font-size: 50px;
        opacity: 0.7;
      }
    }

  }
}
