.grid {
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: 40% 20% 40%;
  justify-items: center;
  align-items: center;
}

.grid .title{
  grid-column-start: 1;
  grid-column-end: 4;
}
